body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    padding-top: 70px;
    padding-bottom: 70px;
}
.hidden {
    display: none !important;
}
.lds-ripple div{
    border-color: #00a6bc;
  }
#loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 60px;
}
.topBar {
    background-color: #1a73e8;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    max-height: 70px;
    width: 100%;
    display: inline;
}
.pageContent {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    text-align: center;
}
.logo{
    margin: 0 25px;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.pageContent .textLogo {
    text-decoration: none;
    color: white;
    font-style: italic;
}
.pageContent .textLogo:hover {
    opacity: 0.8;
}
.contFoot a {
    text-decoration: none;
    color: white;
    float: right;
    margin: 0 15px;
    padding: 0;
}
.contFoot a:hover {
    opacity: 0.8;
}
#main {
    margin: 15px;
    padding: 0;
    max-width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
}
#main .card {
    display: flex;
}
#main .left {
    display: inline;
    margin: 20px auto;
    width: 45%;
    border-radius: 5px;
}
#main .right {
    display: inline;
    margin: 20px auto;
    width: 45%;
    border-radius: 5px;
}
.details-info{
    flex: 1;
    margin-left: 20px;
}
.details-info ul{
    padding: 0;
    list-style-type: none;
}
.details-info li{
    margin-bottom: 1rem;
}
#articleQuantity{
    font-size: 16px;
    height: 30px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 8px 0;
}
.left img {
    max-width: 500px;
    max-height: 500px;
}
#main .cartBtn {
    border: none;
    border-radius: 5px;
    color: white;
    margin: 5px 5px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #1a73e8;
    transition-duration: 0.4s;
    cursor: pointer;
}
#main .cartBtn:hover {
    opacity: 0.8;
}
footer {
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    max-height: 70px;
    width: 100%;
    background-color: #223031;
}
footer ul {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerList li a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    padding: 0;
    font-size: 14px;
}
.footerList li a:hover {
    opacity: 0.8;
}
