body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}
.formular {
    max-width: 90%;
    margin: 20px auto 20px auto;
    padding: 0;
    justify-content: space-between;
    height: 100%;
    flex-wrap:wrap;
    text-align: center;
    background-color: #1877f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
input[type = text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#addBtn, #ascBtn, #dscBtn, #buyedBtn {
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    color: brown;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 3px;
}
#addBtn:hover {
    opacity: 0.7;
}
#ascBtn:hover {
    opacity: 0.7;
}
#dscBtn:hover {
    opacity: 0.7;
}
#buyed:hover {
    opacity: 0.7;
}
#tabel {
    width: 90%;
    margin: 30px auto 20px auto;
    padding: 0;
    justify-content: space-between;
    max-height: 100%;
    flex-wrap:wrap;
    text-align: center;
    background-color: #1877f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-collapse:collapse;
}
#list tr th:first-child {
    width: 70%;
}
#list tr th:last-child {
    width: 30%;
}
.hidden {
    display: none !important;
}
.markedItem{
    text-decoration: line-through;
}